@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">HELLO Asst.Prof.Dr. Thanunchai Threepak</h1>
        <p>I'm Soravee Rattanaapha (sec19)</p>
        
    </div>
